.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 30px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.container {
	position: center;
	max-width: 410px;
	height: 360px;
    padding: 40px 58px 78px;
    margin: 0 auto;
    background-color: #eee;
    border: 2px solid #E8E8E8;
    border-radius: 6px;
}

.img {
	alien-center: center;
	margin: 5% 0;
	padding: 25px;
}
